body {
  background-color: rgba(95, 140, 121);
}

h3 {
  background-color: rgba(255,255,255,.5);
  border:  solid black;
  padding: 2vw;
  margin: 3vh;
}
main {
    background-color: grey;
    border:  solid black;
    border-radius:
}
div {
  background-color: green;
  text-align: center;
}
p {
  background-color: rgba(200,0,100,.5);
  position: absolute;
  bottom: 100px;
  font-family: Avenir;
}

nav {
  display: flex;
  /* flex-direction: column; */
  background-color: rgba(129,216,207,.5);
  width: 8vw;
}
.weeks {
  background-color: yellow;
  margin: 2vh;
  padding: 2vw;
  width: 3vw;
}
img {
text-align: center;
}
